/* cores */

.comentario {
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
}



body {
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

div{
    display: grid;
    margin: 30px;
    padding: 20px;
    background: lightgray;
}

div > p {
    text-align: left;
} 